<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <title>Connexion à l'administration</title>
        <style>
            body {
                display: flex;
                justify-content: center;
                height: 100vh;
            }
            .card {
                margin-top: 30%;
            }
        </style>
    </head>
    <body>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">
                        <i class="fas fa-lock"></i>
                        Connexion à l'administration
                    </h4>
                </div>
                <div class="card-body">
                    {% if hasError %}
                        <div class="alert alert-danger">
                            Une erreur est survenue, le mail ou le mot de passe est invalide
                        </div>
                    {% endif %}
                    <form method="post">
                        <div class="form-group">
                            <label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse email" name="_username" value="{{username}}">
                        </div>
                        <div class="form-group">
                            <label for="_password"></label><input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-lock-open"></i>
                                Connexion !
                            </button>
                            <a href="{{path('homepage')}} " class="btn btn-link">
                                <i class="fas fa-arraw-circle-left"></i>Retour au site
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>