{% extends 'base.html.twig' %}
{% block title %}
    Modification d'une annonce
{% endblock %}
{% form_theme formAnnonce 'annonce/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>modifier l'annonce : {{annonce.title}}</h1>
        {{form_start(formAnnonce)}}
        <div class="form-group">
            {{form_widget(formAnnonce)}}
        </div>
        <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
        {{form_end(formAnnonce)}}
    </div>
{% endblock %}


{% block javascripts %}

<script src="/js/ad.js"></script>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>

{% endblock %}